body {
  background-color:  #a5adb0;
  margin: 40px;
}

.header {
  color: white;
  padding: 0px 0px 25px 0px;
}

.ndg-custom {
  width: 500px;
  height: auto;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.ndg-info ul {
  text-align: center;
}

.ndg-info li{
  padding: 20px 40px 0px 0px;
  text-align: center;
}

.more-info {
  text-align: center;
}